*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;  
}
#smalltag{
    text-align: center;
}

.second{
    text-decoration: line-through;
}
form
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    background-color: azure;
    border-radius: 1px solid black;
   color: black;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button:hover
{
    background-color: aqua;
    padding:3px;

}
button:active
{
    background-color: brown;
}