*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;

}
.container
{
    height:100vh;
    width:100vw;
    display: flex;
    background-color: black;
    /* background-color: black; */    
}

.box
{
    height:600px;
    width:80%;
    margin:auto;
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    border: 2px solid #b70c0c;
}

.box1
{
    grid-column:1/2;
    grid-row:1/5;
    border: 1px solid #3d0606;   
    background-color:red;
    border: 2px solid #000;
}
.box2
{
    grid-column-start: 2;
    grid-column-end:4 ;
    grid-row-start: 1;
    grid-row-end:2;
    background-color: blue;
    border: 2px solid #000;
    /* height:120px; */
}
.box3
{
    /* height:120px; */
    grid-column: 4/6;
    grid-row: 1/2;
    background-color:chocolate;
    border: 1px solid #000;
    border: 2px solid #000;

}
.box4
{
    /* height:120px; */
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:2 ;
    grid-row-end:3;
    border: 2px solid #000;
    
}
.box5
{
    /* height:120px; */
    grid-column-start:2;
    grid-column-end:4;
    grid-row-end:2;
    grid-row-end: 3;
    background-color:chocolate;
    border: 2px solid #000;
}
.box6
{
    grid-column-start: 4;
    grid-column-end:6;
    background-color: blue;
    border: 2px solid #000;


}

.box8{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row:3/4;
    background-color: brown;
    border: 2px solid #000;
}
.box9{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row:3/4;
    background-color: rgb(61, 220, 29);
    border: 2px solid #000;
}
.box10
{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row:4/5;
    background-color: rgb(61, 220, 29);
    border: 2px solid #000;

}
.box11
{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row:4/5;
    background-color: brown;
    border: 2px solid #000;

}
.box7{
    grid-column: 1/2;
    grid-row:5/9;
    background-color: rgb(116, 16, 116);
    border: 2px solid #000;
}
.box12
{
    grid-column: 2/6;
    grid-row:5/7;
    background-color: green;
    border: 2px solid #000;
}
.box13
{
    grid-column: 2/6;
    grid-row:7/9;
    
    background-color: blue;
    border: 2px solid #000;

}
.box15{
    grid-column:2/3;
    grid-row:6/7;
    background-color: white;
    border: 2px solid #000;
}
.box16{
    grid-column:4/5;
    grid-row:6/7;
    background-color: white;
    border: 2px solid #000;
}
.box17{
    grid-column:4/5;
    grid-row:7/8;
    background-color:green;
    border: 2px solid #000;
}
.box14
{
    grid-column:2/3;
    grid-row:7/8;
    background-color:green;
    border: 2px solid #000;
}

