*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
.container
{
    width: 80%;
    margin: auto;
    
}
.header
{
   
    border: 1px solid #000;
    display: flex;
    flex-direction: row;
    gap:900px;
}
.header ul {
    display: flex;
     list-style: none;
     gap:10px;
    

}
.header ul li a{
    gap:10px;
    text-decoration: none;
}
.slider{
    display: flex;
    width:100%;
    height:400px;
    border: 1px solid #000;
    gap:4px;

}
.left-s
{
margin:4px;
width:49%;
border: 1px solid #000;
}
.right-s{
    margin:4px;
    width:49%;
    border: 1px solid #000;
}
.post
{
    width:100%;
    height:600px;
    border: 1px solid #000;
    display: flex;
   
}

.left-p img{
    width: fit-content;
    width: 1204px;
    position: relative;    
}
.right-p{
   
   
}
.right-p h1{
    position: absolute;
    left:50%;
   

}


