*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.container
{
    width: 80%;
    margin: auto;
    min-height: 300px;
    border: 1px solid #000;
}
.header
{
    width:100%;
    min-height:60px;
    background-color: #000;
}
.header h1
{
    color:white;
    text-align: center;
    padding:10px;
    cursor: pointer;
}
.menu
{
   width: 100%;
   height: 50px;
   margin-top:5px;
   background-color: black;
   
}
.menu a{
    text-decoration: none;
    margin-top:10px;
    padding:10px;
    color:white;
    text-align: center;

}
.menu a:hover
{
    margin-top:20px;
    padding:10px;
    border-radius: 1px solid black;
    color:red;
    font-size: 20px;
}
.menu ul li
{
    display: inline-block;
    list-style: none;

}
.header h1:hover
{
    color:red;
} 
.slider iframe
{
    margin-top:10px;
    width:100%;
    min-height:480px;

}
.bar{
    width:100%;
    min-height:420px;
    margin-top: 10px;
    border: 1px solid #000;
}
.left-bar
{
    margin:9px;
    width:26%;
    float:left;
    border: 1px solid #000;
    min-height:240px;
}
.right-bar
{
    margin: 9px;
    width:70%;
    float:right;
    border: 1px solid #000;
    min-height:316px;
}
.left-bar img{
    min-height:240px;
    width: 310px;
    justify-items: cover;
}
.right-bar h3{
    text-align: justify;
}
.right-bar h4
{
    color:rgb(84, 178, 197)
}

