* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 80%;
    min-height: 120px;
    border: 1px solid #000;
    margin: auto;
}

.header {
    width: 100%;
    min-height: 60px;
    border: 1px solid #000;
    background-color: black;
    color: white;
    position:sticky;
    top:0px;
    /* display: flex; */
}

.menu {
    float: right;
}

.menu .right {
    float: right;
}
.menu .right a{
    color:white;
    text-decoration: none;
}
.menu ul li {
    list-style: none;
    padding-left: 30px;
    display: inline-block;
    margin: 10px;
}

.header1 {
    min-width: 40%;
    padding: 10px;
    float: left;
}

.header1 h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor:pointer;
}

.menu {
    min-width: 60%;
}
.menu a:hover
{
    color:red;
    margin-top:10px;
    font-size: 30px;
}
.right
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
}

.slider
{
    padding-top:5px;
    width:100%;
    min-height:400px;
    /* border: 1px solid #000; */
}
.slider iframe
{
    width:100%;
    min-height:400px;
    border: 1px solid #000;
}
.box,.box1{
    width:100%;
    display: flex;
    flex-direction: row;
    margin-top:10px;
}

.first,.second,.third
{
    height:220px;
    margin:7px;
    width:32.3%;
    border: 1px solid #000;
}
.first img ,.second img ,.third img
{
    object-fit: cover;
    width: 100%;
    height:220px;
    border: 1px solid #000;
}
footer
{
    min-height: 60px;
    width: 100%;
    background-color: black;
    margin-top:10px;
    position: sticky;
    bottom: 0px;
    
}
footer p
{
    color:white;
    text-align: center;
    padding:16px;
    text-decoration: dotted;   
}
.clearfix::after
{
    content: "";
    clear: both;

}
marquee
{
   font-size: 18px;
   color: rgb(0, 0, 0);
}
 h2
{
    text-align:center; 
    color:black;  
}


  
       
        
        
        
        
