*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
.container
{
    height: 100vh;
    /* border: 1px solid #000; */
    width: 100%;
    margin:auto;
    /* border: 1px solid #000; */
}
.menu{
    width:100%;
    display: flex;
    justify-content: center;
    height: 80px;
    border: 1px solid #000;
    
}
.menu .left{
    display: flex;
    align-items: center;
}
.menu .left h2{
    font-style: italic;
    color: red;
}
.menu .left ul
{
    display: flex;
    gap:30px;
    justify-content: center;
    list-style: none;


}
.menu .left ul li a{
    text-decoration: none;
}
.slider{
    height:500px;
    width: 100%;
    /* border: 1px solid #000; */
    background-image: url("../Image/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;  
}
.slider img{
    width:100%;
    height:100%;
}
.slider .heading{
    position: absolute;
    top:50%;
    left:37%;
}
.slider .heading h2{
    color:white;
    text-align: center;
}
.slider .button1
{
    position: absolute;
    top:65%;
    left:42%;
    color: black;
    background-color: chocolate;

}
.slider .button1 button{
    background-color: chocolate;
    color:white;
    border-radius: 5px;
    width:300px;
    height:30px;
}
.slider .button1 button:hover{
    color:black;
    background-color: red;
}
.box{
    width:100%;
    min-height: 500px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
}
.box .text-heading{
    width:100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    text-align: center;
}
.subdiv{
display: flex;
width: 80%;
margin:auto;
gap: 5px;
justify-content: center;

}
.subdiv .box1{
   margin:5px;
    display: flex;
    flex-direction: column;
    text-align: center;
     justify-content: center;
     align-items: center;
    width:30%;
    height:300px;
    /* border: 1px solid #000; */
}
.subdiv .box2{
    margin:5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width:30%;
     height:300px;
     justify-content: center;
     align-items: center;
    /* border: 1px solid #000; */
}
.subdiv .box3{
    margin:5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width:30%;
    justify-content: center;
     align-items: center;
    height:300px;
    /* border: 1px solid #000; */
}
.button-div button{
    margin-top: 20px;
    color:#000;
    background-color: rgb(43, 127, 237);
    border-radius: 5px;
}
.button-div button:hover{
    cursor: pointer;
    background-color: brown;
    color: white;
}
.left-right
{
    width:100%;
    height:600px;
    display: flex;
    border: 1px solid #000;

}
.left-right .left1{
    width: 50%;

}
.left-right .right1{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
    justify-content: center;
    background-color: rgb(225, 239, 240);
}
.left-right .right1 .right2{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
   justify-content: center;
    /* border: 1px solid #000; */
}
.left-right .right1 .right2 .creater h4
{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 700;
    padding-bottom: 10px;
    
}
.left-right .right1 .right2 .hey
{
    text-decoration: #000;
    padding-bottom:10px;
}
.left-right .right1 .right2 .para p
{
    justify-content: justify;
    /* font-size: 35px; */
    font-family: 'Times New Roman', Times, serif;
    font-weight: 450;
    padding-bottom: 15px;
    /* line-height: px; */
    
}
.left-right .right1 .right2 .button-read 
{
    margin-top: 10px;
    

}
.left-right .right1 .right2 .button-read button
{
    background-color: chocolate;
    color: aliceblue;
    text-align: center;
    width:220px;
    height:30px;
}
.left-right .right1 .right2 .button-read button:hover
{
    background-color: red;
    color:black;
    cursor: pointer;
}
.popular{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height:70px;
    align-items: center;
    /* border: 1px solid #000; */

}
.popular h3{
    text-align: center;
    margin-top: 30px;
    font-family:'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: 700;
}
.posts{
    display: flex;
    margin:auto;
    width: 80%;
    gap:10px;
    height: 400px;
    /* border: 1px solid #000; */
}
.posts .post1{
    display: flex;
    flex-direction: column;
    width:25%;
     height:400px;
    /* border: 1px solid #000; */
    background-color: aliceblue;
}
.posts .post2{
    display: flex;
    flex-direction: column;
    width:25%;
    height:400px;
    /* border: 1px solid #000; */
    background-color: rgb(238, 214, 214);
}
.posts .post3{
    display: flex;
    flex-direction: column;
    width:25%;
    height:400px;
    /* border: 1px solid #000; */
    background-color: aliceblue;
}
.posts .post4{
    display: flex;
    flex-direction: column;
    width:25%;
    height:400px;
    /* border: 1px solid #000; */
    background-color: rgb(153, 197, 199);
}
.posts .headingpost
{
    height:50%;
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-justify: justify;
}
.imgpost img{
    width:100%
   
}
.posts .headingpost h4{
    padding-bottom:10px;
}
.blog
{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height:130px;
}
.blog button
{
    color: rgb(246, 234, 234);
    background-color: cadetblue;
    border-radius: 2px;
}
footer
{
    width:100%;
    height:120px;
    border: 1px solid #000;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
