* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
    min-height: 350px;
    border: 1px solid #000;
    /* display: flex; */
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 60px 400px 400px 400px 100px;
    grid-template-areas: "header-menu header-menu"
        "slider slider"
        "box9 box9"
        "box box5"
        "footer footer";
}

.box9
{
    display: grid;
    grid-area: box9;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "box1 box2";
    gap:5px;

}

.header-menu {
    /* display: flex; */
    /* width:100%; */
    border: 1px solid #000;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-area: header-menu;
    background-color: azure;
    /* height:60px; */
}

.header {
    display: grid;
    /* border: 1px solid #000; */

}

.header ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
    /* justify-content: center; */
    align-items: center;
    margin-left: 10px;
}

.header ul li h2 {
    color: #000;
    font-size: 1.8em;
    text-shadow: 2px saddlebrown;
    color: salmon
}

.header-menu .menu {
    display: flex;
    justify-content: center;

}

.header-menu .menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.header-menu .menu ul li a {
    font-size: 1.3em;
    text-decoration: none;
    /* color:white; */
}

.header-menu .menu ul li a:hover {
    border-radius: 5px;
    background-color: rgb(83, 230, 83);
    text-shadow:
        1px 1px 2px black,
        0 0 1em blue,
        0 0 0.2em blue;
    color: white;
    font:
        1.5em "Georgia",
        serif;
}

/*slider*/
.slider {
    display: grid;
    grid-area: slider;
    border: 5px solid #000;
    /* margin-top:px; */
}

.slider iframe {
    width: 100%;
    height: 100%;
}

.box {

    display: flex;
}

.box {
    gap: 10px;
}

.box1 {
    margin-top: 5px;
    display: grid;
    grid-area: box1;
    border: 1px solid #000;


}

.box2 {
    margin-top: 5px;
    display: grid;
    grid-area: box2;
    border: 1px solid #000;
}

.box {
    /* width:100%; */
    /* height:300px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 400px;
    grid-area: "box3 box4";
    display: flex;
    border: 1px solid #d02c2c;
    gap: 8px;

}

.box3 {
    width: 50%;
    display: grid;
    grid-area: box3;
    ;
    border: 1px solid #000;
    /* height:100%; */

}

.box4 {
    width: 50%;
    /* height:100%; */
    display: grid;
    grid-area: box4;
    border: 1px solid #000;
}

.box5 {
    display: grid;
    grid-area: box5;
    border: 1px solid #000;
    height: 100%;
}



#heading {
    display: flex;
    justify-content: center;
    color: #0E509C;
    margin-top: 10px;
}

/* .box2 ul li
{
    display: flex;
    justify-content: center;
    justify-content: justify;
    text-align: left;

} */
.sub-heading h4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    text-shadow: 1px 1px 2px pink;
    ;
    text-align: left;
    list-style-type: disc;
    font-size: 1.3em;
    gap: 10px;
}

body {
    overflow-x: hidden;
}

.box3 img {
    display: flex;
    justify-content: start;
    border: 1px solid #000;

}

.box4 img {
    border: 1px solid #000;
    object-fit: cover;

}

.box3 .btn {
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn {
    background-color: rgb(231, 208, 208);
    border: 1px solid #000;
}

.btn button {
    background-color: #d02c2c;
    color: white;
    font-size: 300;
    font-weight: 700;
    padding: 5px;
    border-radius: 5px;
}

.btn button:hover {
    color: black;
    text-shadow: yellow 12px;
    cursor: pointer;

}

.btn button:active {
    color: green;
    background-color: aqua;
}

.footer {
    background-color: white;
}

.box4 {
    display: flex;
    flex-direction: column;

}

.box4 .btn {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;

}

.box4 .btn button {

    border: 1px solid #000;
    top: 80%;
    z-index: 1;

}

.box5 iframe {
    border: 1px solid #000;
}

.footer {
    display: grid;
    grid-area: footer;
    border: 1px solid #000;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #97eef4;
}

.footer h3 {
    color: red;
}

@media only screen and (min-width:0px) and (max-width: 480px) {
    body{
        overflow-x: hidden;
    }
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap:3px;
    }
    .box9
    {
        display: flex;
        flex-direction: column;
        width:100%;
        gap:2px;
    }

    .box1{
      
        width: 100%;
      
    }
    .box2{
        width:100%;
    }

    .slider iframe {
        width: 100%;
        height: 100%;
    }

    .box {

        display: flex;
        flex-direction: column;
    }
    .box3,.box4
    {
        width:100%;
        min-height: 80px;
    }
    .box3 .btn,.box4 .btn
    {
        width:100%;
        min-height:80px;
    }
    .box5{
        display: flex;
        flex-direction:column;
        width:100%;

    }
    .box5 iframe
    {
        min-height:300px;
    }
    .footer
    {
        display:flex;
        min-height:80px;
    }
  

}