*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.container
{
    width:80%;
    margin: auto;
    min-height:350px;
    border: 1px solid #000;
    /* display: flex; */
    display: grid;
    gap:5px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 60px 400px 400px 400px 100px;
    grid-template-areas: "header-menu header-menu"
    "slider slider"
    "box1 box2"
    "box box5"
    "footer footer";
}
.header-menu
{
    /* display: flex; */
    /* width:100%; */
    border: 1px solid #000;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-area: header-menu; 
     background-color: azure;
    /* height:60px; */
}
.header
{
    display: grid;
    /* border: 1px solid #000; */
   
}
.header ul
{
    display:flex;
    flex-direction: row;   
    gap:30px;
    list-style: none;
    /* justify-content: center; */
    align-items: center;
    margin-left:10px;
}
.header ul li h2{
    color: #000;
    font-size: 1.8em;
    text-shadow: 2px saddlebrown;
    color:salmon
    
}
.header-menu .menu
{
    display: flex;
    justify-content: center;

}
.header-menu .menu ul
{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    list-style: none;
    gap:20px;
}
.header-menu .menu ul li a
{
    font-size: 1.3em;
    text-decoration: none;
    /* color:white; */
}
.header-menu .menu ul li a:hover
{
    border-radius:5px;
    background-color:rgb(83, 230, 83);
    text-shadow:
    1px 1px 2px black,
    0 0 1em blue,
    0 0 0.2em blue;
  color: white;
  font:
    1.5em "Georgia",
    serif;
}

/*slider*/
.slider
{
    display: grid;
    grid-area: slider;
    border: 5px solid #000;
    /* margin-top:px; */
}
.slider iframe{
    width:100%;
    height:100%;
}
.box
{
    
    display:flex;
}
.box{
    gap:10px;
}

.box1
{
    margin-top:5px;
    display: grid;
    grid-area: box1;
    border: 1px solid #000;

  
}
.box2
{
    margin-top:5px;
    display: grid;
    grid-area:box2;
    border: 1px solid #000;
}
.box
{
    /* width:100%; */
    /* height:300px; */
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:400px;
    grid-area: "box3 box4";
    display: flex;
    border: 1px solid #d02c2c;
    gap:8px;
    
}
.box3
{
    width:50%;
    display: grid;
    grid-area: box3;;
    border: 1px solid #000;
    /* height:100%; */

}
.box4
{
    width:50%;
    /* height:100%; */
    display: grid;
    grid-area: box4;
    border: 1px solid #000;
}
.box5
{
    display: grid;
    grid-area: box5;
    border: 1px solid #000;
    height:100%;
}
.footer
{
    display:grid;
    grid-area: footer;
    border: 1px solid #000;
    height:100%;
    justify-content: center;
    align-items: center;
}


