* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.box {
    height: 600px;
    width: 800px;
    border: 2px solid #bc0d0d;
    background-color: rgb(5, 21, 21);
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;

}

.header {
    color: white;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: blueviolet;
}

.sidebar {
    color: white;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: blueviolet;
}

.content1 {
    color: white;
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: blueviolet;
}

.content2 {
    color: white;
    grid-column-start: 2;
    grid-column-end: 2;
    background-color: blueviolet;
}

.content3 {
    color: white;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: blueviolet;

}

.content4 {
    color: white;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: blueviolet;
}