* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    height: 400px;
    width: 800px;
    background-color: rgb(7, 12, 12);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(1fr, 4);
    border: 1px solid #000;
    gap: 10px;
    border: 1px solid #000;
}

.number1 {
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: rgb(60, 19, 184);
}

.number2 {
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: blue;
}

.number3 {
    grid-column-start: 4;
    grid-column-end: 4;
    background-color: brown;
}

.number4 {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: burlywood;

}

.number5 {
    grid-column-start: 3;
    grid-column-end: 3;
    background-color: brown;
}

.number6 {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: brown;
}

.number7 {
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: burlywood;
}

.number8 {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 4;
    background-color: blue;
}