*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;

}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button button{
    border-radius: 2px;
    width:70px;
    height: 10px;
    padding:10px;

}