* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    display: grid;
    width: 80%;
    margin: auto;
    border: 1px solid #000;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 70px 620px 400px 400px 400px 120px 300px 300px;
    grid-template-areas: "header-menu header-menu header-menu"
        "main-bar main-bar main-bar"
        "three-cards three-cards three-cards"
        "about about about"
        "doing doing doing"
        "services services services"
        "services-card services-card services-card"
        "another-service another-service another-service";

}

.header-menu {
    display: grid;
    grid-area: header-menu;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 70px;
    grid-template-areas: "header menu";

    /* border: 1px solid #000; */

}

.header {
    display: grid;
    grid-area: header;
    display: flex;
    align-items: center;
    /* border: 1px solid #000; */
}

.menu {
    display: grid;
    grid-area: menu;


}

.menu ul {
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;

}

.menu ul li a {
    text-decoration: none;
    font-size: 17px;
    color: red;
    padding: 2px;

}

.header h1 a {
    margin-left: 20px;
    font-style: italic;
    box-shadow: green;
    list-style: none;
    text-decoration: none;

}

.main-bar {
    display: grid;
    grid-area: main-bar;
    position: relative;
    border: 1px solid #000;
}

.heading {
    position: absolute;
    left: 10%;
    top: 30%;
}

.heading h2 {
    text-decoration: double;
    font-size: 40px;

}

.heading p {
    text-decoration: solid;
    font-size: 20px;
    color: rgb(163, 101, 21)
}

.heading button {
    width: 100px;
    text-align: center;
    color: white;
    border-radius: 10px;
    background-color: black;
    height: 30px;
    text-shadow: 2px red;

}

.heading button:hover {
    cursor: pointer;
    background-color: chocolate;
}

.three-cards {
    display: grid;
    grid-area: three-cards;
    border: 1px solid #000;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 400px;
    grid-template-areas: "card1 card2 card3";
    gap: 5px;
    margin-top: 10px;

}

.card1 {
    display: grid;
    grid-area: card1;
    border: 1px solid #000;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card1 h1,
p {
    color: white
}

.card2 {
    display: grid;
    grid-area: card2;
    border: 1px solid #000;
    background-color: rgb(131, 240, 240);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;


}

.card2 h2 {}

.card2 h2,
p {
    color: white;
    text-align: center;

}

.card3 {

    display: grid;
    grid-area: card3;
    border: 1px solid #000;
    background-color: rgb(35, 200, 145);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.three-cards .card3 h2,
p {
    color: white;
}

.about {
    display: grid;
    grid-area: about;
    border: 1px solid #000;
    margin: top 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

}

.about-company {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%px;
    padding: 70px;
    flex-wrap: wrap;

}

.about-company p {
    color: black;
    text-align: center;

}

.know {
    margin-top: 40px;
}

.know a {
    text-decoration: none;
}

.doing {
    display: grid;
    grid-area: doing;
    grid-template-rows: 400px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "left right";
    margin-top: 10px;
    gap: 5px;
    border: 1px solid #000;

}

.left {
    display: grid;
    grid-area: left;
    border: 1px solid #000;
}

.right {
    display: grid;
    grid-area: right;
    background-color: rgb(42, 213, 156);
    border: 1px solid #000;
}

.data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.data h2 {
    display: flex;
    color: white
}

.data p {
    display: flex;
    padding: 30px;

}

.data button {
    border-radius: 5px;
    background-color: white;
    color: black;
    border: 1px solid #000;
}

.data button:hover {
    background-color: black;
    cursor: pointer;
    color: white;
}

.services {
    display: grid;
    grid-area: services;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 120px;
    grid-template-areas: "s s s";
    /* border: 1px solid #000; */
    margin-top: 10px;
}

.s {
    display: grid;
    grid-area: s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-card {
    width: 80%;
    display: grid;
    grid-area: services-card;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px;
    grid-template-areas: "service1 service2 service3";
    /* border: 1px solid #000; */
    gap: 5px;
    margin: auto;
    /* display: flex;
    flex-direction: column; */
}

.another-service {
    padding-top: 20px;
    width: 80%;
    display: grid;
    grid-area: another-service;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px;
    grid-template-areas: "service4 service5 service6";
    /* border: 1px solid #000; */
    gap: 5px;
    margin: auto;

}

.service1 {
    display: grid;
    grid-area: service1;
    height: 100%;
    width: 80%;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    /* justify-content:center; */
    align-items: center;
    gap: 5px;

}

.service1 .circle1,
.service2 .circle1,
.service3 .circle1,
.service4 .circle1,
.service5 .circle1,
.service6 .circle1 {
    height: 100px;
    width: 100px;
    margin-top: 20px;
    /* align-items: center; */
    border-radius: 50%;
    background-color: aqua;
}

.common {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.common a {
    text-decoration: none;
    font-size: 30px;
}

.service2 {
    display: grid;
    grid-area: service2;
    border: 1px solid #000;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    /* justify-content:center; */
    align-items: center;
    gap: 5px;
}

.service3 {
    display: grid;
    grid-area: service3;
    border: 1px solid #000;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    /* justify-content:center; */
    align-items: center;
    gap: 5px;
}

.service4 {
    display: grid;
    grid-area: service4;
    border: 1px solid #000;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    /* justify-content:center; */
    align-items: center;
    gap: 5px;
}

.service5 {
    display: grid;
    grid-area: service5;
    border: 1px solid #000;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    /* justify-content:center; */
    align-items: center;
    gap: 5px;
}

.service6 {
    display: grid;
    grid-area: service6;
    border: 1px solid #000;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    /* justify-content:center; */
    align-items: center;
    gap: 5px;
}

.Thali {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.Thali h2,
p {
    color: black;
}

.thali p {
    padding: 10px;
}